html, body{
    background-color: #21232A;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button{
    font-size: 1rem;
    padding: 10px;
    margin-right: 10px;
}